body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
	margin: 50px 0;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

#nav-input {
	margin-top: 5px;
	margin-right: 5px;
	vertical-align: middle;
}

div .left {
	float: left;
}

div .right {
	float: right;
}

table #td-title {
	width: 25%;
}

table  #td-author {
	width: 18%;
}

table thead #td-img {
	width: 7%;
}

table   #td-genre {
	width: 11%;
}

table  #td-status {
	width: 18%;
	background-color: #aaa;
}

table  #td-date {
	width: 10%;
}

#btn_bookList {
	width: 30%;
}

#insertBook {
	width: 30%;
}

.table .table-striped .table-bordered {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.row {
	background-color: #fff;
}

#page {
	text-align: center;
	font-size: 20px;
}

table .title {
	font-size: 20px;
	font-weight: bold;
}

#nav-input {
	margin-top: 5px;
	vertical-align: middle;
}