body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
	margin: 50px 0;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

<<<<<<< HEAD
#btn_bookList{
	width:30%;
}
#insertBook{
	width:30%;
}
=======
.row {
	background-color: #fff;
}

>>>>>>> 5308682d6d996a04e3756f10010cd91de3dccfdc
