body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
	margin: 50px 0;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

#nav-input {
	margin-top: 5px;
	margin-right: 5px;
	vertical-align: middle;
}

#btn_bookList {
	width: 30%;
}

#insertBook {
	width: 30%;
}

.row {
	background-color: #fff;
}

#page {
	text-align: center;
	font-size: 20px;
}

table .title {
	font-size: 20px;
	font-weight: bold;
}

#nav-input {
	margin-top: 5px;
	vertical-align: middle;
}