.thumbnail {
	width: 30%;
	float: left;
	margin-right: 15px;
}

.thumbnail .caption p {
	max-height: 150px;
	font-size: 8px;
	max-width: 100px;
	font-family:sans-serif;
}

}
@media ( min-width : 992px) {
	.col-md-3 {
		width: 33%;
	}
}

