.thumbnail {
	width: 30%;
	float: left;
}

.thumbnail .caption p {
	max-height: 150px;
	font-size: 60%;
	max-width: 100px;
	font-family:sans-serif;
}

}
@media ( min-width : 992px) {
	.col-md-3 {
		width: 33%;
	}
}

#nav-input{
	margin-top: 5px;
	
	vertical-align:middle;
}