<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <heliconZoo>
            <clear />
            <application name="BM" />
        </heliconZoo>
        <handlers>
            <remove name="ISAPI-dll" />
            <remove name="php.pipe#x64" />
            <remove name="php.pipe#x86" />
            <add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" scriptProcessor="D:\tomcat 7.0\isapi\isapi_redirect.dll" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="BM#x64" path="*" verb="*" modules="HeliconZoo_x64" scriptProcessor="java.tomcat.7" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
            <add name="BM#x86" path="*" verb="*" modules="HeliconZoo_x86" scriptProcessor="java.tomcat.7" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
